step-functions/voice-processing-workflow.json
{
  "Comment": "Voice-to-SAP processing pipeline",
  "StartAt": "TranscribeVoice",
  "States": {
    "TranscribeVoice": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.jobName",
        "Media": {
          "MediaFileUri.$": "$.s3Uri"
        },
        "MediaFormat": "wav",
        "LanguageCode": "en-US"
      },
      "Next": "WaitForTranscription"
    },
    "WaitForTranscription": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckTranscriptionStatus"
    },
    "CheckTranscriptionStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.TranscriptionJobName"
      },
      "Next": "IsTranscriptionComplete"
    },
    "IsTranscriptionComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "AnalyzeSentiment"
        },
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "TranscriptionFailed"
        }
      ],
      "Default": "WaitForTranscription"
    },
    "AnalyzeSentiment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "anthropic.claude-3-sonnet-20240229-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 1000,
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Analyze the sentiment of this customer service call transcript and provide a sentiment score (positive/negative/neutral) and emotional intensity (1-10): {}', $.transcript)"
            }
          ]
        }
      },
      "Next": "AssignSeverity"
    },
    "AssignSeverity": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "voice-to-sap-severity-assignment",
        "Payload.$": "$"
      },
      "Next": "GenerateSummary"
    },
    "GenerateSummary": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "anthropic.claude-3-sonnet-20240229-v1:0",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 500,
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Create a concise summary of this customer service call for SAP ingestion. Include key issues, sentiment, and severity level: {}', $.transcript)"
            }
          ]
        }
      },
      "Next": "SaveSummaryToS3"
    },
    "SaveSummaryToS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Parameters": {
        "Bucket": "voice-to-sap-summaries",
        "Key.$": "States.Format('summaries/{}.json', $.jobName)",
        "Body.$": "$.summary"
      },
      "Next": "IngestToSAP"
    },
    "IngestToSAP": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeAgent",
      "Parameters": {
        "AgentId": "your-bedrock-agent-id",
        "AgentAliasId": "TSTALIASID",
        "SessionId.$": "$.jobName",
        "InputText.$": "States.Format('Ingest this customer service summary into SAP: {}', $.summary)"
      },
      "End": true
    },
    "TranscriptionFailed": {
      "Type": "Fail",
      "Cause": "Transcription job failed"
    }
  }
}
